<ion-list>
  <ion-item flexstart>
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-note>
      <h6 class="heading">
        Ayomide Olakulehin
      </h6>
      DevOps is a software development approach which involves continuous development, continuous testing, continuous integration
      
    </ion-note>
  </ion-item>
  <ion-item flexstart>
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-note>
      <h6 class="heading">
        Ayomide Olakulehin
      </h6>
      DevOps is a software development approach which involves continuous development, continuous testing, continuous integration
      
    </ion-note>
  </ion-item>
  <ion-item flexstart>
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-note>
      <h6 class="heading">
        Ayomide Olakulehin
      </h6>
      DevOps is a software development approach which involves continuous development, continuous testing, continuous integration
      
    </ion-note>
  </ion-item>
  <ion-item flexstart>
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-note>
      <h6 class="heading">
        Ayomide Olakulehin
      </h6>
      DevOps is a software development approach which involves continuous development, continuous testing, continuous integration
      
    </ion-note>
  </ion-item>
  <ion-item flexstart>
    <ion-avatar slot="start">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
    </ion-avatar>
    <ion-note>
      <h6 class="heading">
        Ayomide Olakulehin
      </h6>
      DevOps is a software development approach which involves continuous development, continuous testing, continuous integration
      
    </ion-note>
  </ion-item>
</ion-list>