
<ion-grid no-padding>
  <ion-row>
    <ion-col size="12" size-md="4" size-lg="3" *ngFor="let product of products">
      <ion-card class="welcome-card">
        <a [routerLink]="['/products/' + product._id]"><ion-img src="/assets/imgs/phones/1.jpg"></ion-img></a>
        <ion-card-header style="padding-bottom: 0;">
          <ion-chip color="secondary" outline="true" no-margin>
            <ion-label>{{product.category?.name}} <span class="app-dot-separator"></span> {{product.sub_category?.name}}</ion-label>
            <ion-icon name="close-circle"></ion-icon>
          </ion-chip>
          <a [routerLink]="['/products/' + product._id]"><ion-card-title class="product-title trunc">{{product.title}}</ion-card-title></a>
        </ion-card-header>
        <ion-card-content>
          <div>
            <pre>{{product.description | trunc: 300}} <a *ngIf="product.description.length > 300" [routerLink]="['/products/' + product._id]">See more</a></pre>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
