// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
pre {
  white-space: pre-wrap;
  background: inherit;
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.trunc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.align-center {
  text-align: center;
}

.highlight {
  background-color: #f4f4f4;
}

.center {
  display: block;
  margin: 0 auto;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.top-radius {
  border-radius: 10% 10% 0 0;
}

.bottom-radius {
  border-radius: 0 0 10% 10%;
}

.round {
  border-radius: 50%;
}

#menu-material {
  .menu-header {
    padding: 5px 15px;
    background: var(--ion-color-primary);
    background: -webkit-linear-gradient(to left, var(--ion-color-secondary), var(--ion-color-primary));
    background: -webkit-linear-gradient(right, var(--ion-color-secondary), var(--ion-color-primary));
    background: -webkit-gradient(linear, right top, left top, from(var(--ion-color-secondary)), to(var(--ion-color-primary)));
    background: -o-linear-gradient(right, var(--ion-color-secondary), var(--ion-color-primary));
    background: linear-gradient(to left, var(--ion-color-secondary), var(--ion-color-primary));
    color: white;
    .name {
      font-weight: 500;
      margin-bottom: 3px;
      padding-left: 15px;
    }
    .e-mail {
      margin-top: 0;
      margin-bottom: 5px;
      padding-left: 15px;
    }
  }
  .user-avatar {
    max-width: 125px;height: 125px;
    padding: .5em;
    height: 12vh;
  }
  h3,
  .label
  {
    color: #999;
    font-weight: 400;
  }
  ion-icon {
    color: #777;
  }
}

ion-item-sliding[flexstart] .item.item-block.item-ios,
ion-item[flexstart].item.item-block.item-ios,
ion-item-sliding[flexstart] .item.item-block.item-md,
ion-item[flexstart].item.item-block.item-md  {
  display: flex !important;
  align-items: flex-start!important; // <---- This does the trick!
}

ion-item[flexstart] ion-avatar {
  margin-top: 0 !important;
}

ion-item ion-label, ion-item-sliding ion-label {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

ion-item[flexstart] ion-label, ion-item-sliding[flexstart] ion-label {
  padding-top: 4px !important;
}

ion-item ion-note, ion-item-sliding ion-note {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

ion-item[flexstart] ion-note, ion-item-sliding[flexstart] ion-note {
  padding-top: 10px !important;
}