ion-card.product-list-card {
    .product-title {
        font-weight: 900;
    }

    .product-category {
        font-weight: 400;
        font-size: 11px;
    }

    div.actions {
        margin-top: -30px;
    }
}